.Container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  line-height: 24px;
  font-size: 100%;
  padding: 0.3em;

  & .Status {
    display: inline-flex;

    & svg {
      margin-left: 8px;
      width: 24px;
      height: 24px;
    }
  }
}
