.Container {
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
  padding: 1em;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.CardGrid {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  grid-auto-rows: 3fr 3fr;
  height: 100%;

  & .Item {
    border-radius: 12px;
    box-sizing: content-box;
    border: 2px transparent solid;

    height: 200px;
    width: 9em;
    min-width: 9em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .CanPlace {
    border: 2px white dashed;
  }

  & .Hovering {
    border: 2px dodgerblue solid;
  }

  & .BlockHovering {
    border: 2px lightcoral solid;
  }
}

.Deck {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-end;
  justify-content: flex-end;
}
