.Dashboard {
  text-align: center;
  padding: 0 2em;

  h1 {
    font-size: 48px;
    font-style: italic;
    font-family: 'Playfair Display', serif;

    @media (max-width: 600px) {
      font-size: 30px;
    }
  }

  & .Actions {
    flex: 0;
    display: flex;
    flex-direction: row;
    margin: 0.5em 0 1em 0;

    & button {
      cursor: pointer;
      width: 100%;
      height: 120px;
      background-color: #3f51b5 !important;

      color: white;
      text-transform: uppercase;
      font-size: 28px;
      font-weight: bold;

      border-radius: 12px;
      border: 2px #3f51b5 solid;
      outline: none !important;
    }
  }

  & .Games {
    text-align: left;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    h2 {
      margin: 0;
      font-size: 24px;
    }
  }
}
