.Holder {
  width: 100%;
}

.Container {
  min-height: 225px;
  max-height: 225px;
  width: 100%;
  //background: #003366;
  background: #1a1d3d;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: auto;
  justify-content: center;

  // disable scrollbar
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  & .Card {
    margin: 0 0.5em;
  }
}


.Cards {
  display: flex;
  height: 100%;
  justify-content: center;

  & .Card {
    margin: 0 0.5em;
  }
}
