$gutter: 20px;

.Container {
  min-height: 225px;
  max-height: 225px;
  width: 100%;
  padding-bottom: 1em !important;
}


.Cards {
  overflow: auto;
  display: flex;
  height: 100%;
  padding-bottom: 1em;
  justify-content: center;
  list-style: none;
  padding-left: 0;

  // disable scrollbar
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &:after, &:before {
    content: '';
    width: 10px;
  }

  & .Card {
    margin: 0 0.5em;
  }
}

.Actions {
  display: none;
}
